@import url(https://fonts.googleapis.com/css?family=Rancho);
/* Twiggies Sidebar Theme */
#sb_top, #sb_side, .neomail-icons a img, #back_next img[alt="Next"], #page_notif, #howlatthe, #sb_banner a, #sb_top a, #sb_lang a, #latest img, #newsflash > img {
    filter: none !important
    }
@media (hover: hover) {
    #sb_side {
        transform: revert !important;
        padding-bottom: 0 !important
        }
    #sb_top {
        background-size: auto !important;
        background-image: url(https://i.imgur.com/eb0YTBk.png), url(https://i.imgur.com/g517aY7.png) !important;
        background-attachment: local, fixed !important;
        background-position: top left, bottom left !important
        }
    }
@media (hover: none) {
    #sb_top {
        background-image: url(https://i.imgur.com/g517aY7.png) !important;
        background-attachment: fixed !important;
        background-position: bottom left !important
        }
    #top-bar-logo {
        content: url(https://i.imgur.com/eb0YTBk.png)
        }
    }
#sb_side {
    background-image: url(https://i.imgur.com/g517aY7.png);
    height: 947px;
    width: 128px;
    background-attachment: fixed;
    background-position: bottom left;
    border: solid #fbd1a5;
    border-width: 0 2px 2px 0;
    border-radius: 0 0 15px 0;
    box-shadow: 2px 2px 0 -1px rgb(0, 140, 135);
    background-color: #007bd2;
    background-repeat: no-repeat;
    }
#sb_side::after {
  content:none !important;
}
#sb_edge {
    background-image: url(https://sig.grumpybumpers.com/host/twiggies_neopets.gif), url(https://i.imgur.com/g517aY7.png) !important;
    height: 242px !important;
    margin-top: auto !important;
    background-position: bottom right, bottom left !important;
    background-attachment: no-repeat, repeat !important;
    background-attachment: local, fixed !important;
    width: 128px !important;
    border-radius: 0 0 13px 0 !important;
    display:block !important;
    }

#sb_createpet, #sb_petcentral, #sb_explore, #sb_games, #sb_neomail, #sb_shops, #sb_boards, #sb_news, #sb_stuff, #sb_help, #sb_login, #sb_logout {
    background-image: url(https://i.imgur.com/JSmVvql.png);
    width: 130px
    }
#sb_createpet:hover {
    background-position: 130px 0
    }
#sb_petcentral:hover {
    background-position: 130px -53px
    }
#sb_explore:hover {
    background-position: 130px -106px
    }
#sb_games:hover {
    background-position: 130px -138px
    }
#sb_neomail:hover {
    background-position: 130px -170px
    }
#sb_shops:hover {
    background-position: 130px -202px
    }
#sb_boards:hover {
    background-position: 130px -234px
    }
#sb_news:hover {
    background-position: 130px -266px
    }
#sb_stuff:hover {
    background-position: 130px -300px
    }
#sb_help:hover {
    background-position: 130px -334px
    }
#sb_login:hover {
    background-position: 130px -369px
    }
#sb_logout:hover {
    background-position: 130px -399px
    }
.nst {
    background-color: rgba(76, 255, 104, 0.7)
    }
#sb_top {
    border-radius: 0 0 15px 0;
    border: #fbd1a5 solid;
    border-width: 0 2px 2px 0;
    background-position-y: -3px, bottom;
    box-shadow: 1px 1px 0 0 rgb(0, 140, 135);
    background-color: #007bd2;
    background-repeat: no-repeat;
    }
#userinfo a, #sb_lang a, .sb-custom-css {
    color: #002d99 !important;
    text-shadow: -1px -1px 2px white, 1px -1px 2px white, -1px 1px 2px white, 1px 1px 2px white !important
    }
#sb_banner > a > img {
    outline: 1px #342275 solid
    }
/* End Twiggies Sidebar Theme */

/* Twiggies AIO */
#aio_sidebar {
    font: 24px Rancho !important;
    color: #FFF !important;
    text-align: center !important;
    line-height: 20px !important;
    text-transform: initial !important
    }
#aio_sidebar > div {
    border: 2px solid #fbd1a5 !important;
    outline: 1px solid #008c87 !important;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.7) !important;
    color: #000 !important;
    margin: 5px !important;
    padding: 8px !important;
    border-radius: 10px !important;
    background-image: url(https://i.imgur.com/UBYds02.png) !important;
    background-color: #007bd2 !important;
    background-attachment: fixed !important;
    background-size: aut !importanto;
    background-repeat: repeat-x !important;
    background-position: bottom left !important
    }
.aio-section-header {
    color: #ffb400 !important;
    text-shadow: 0 0 6px #000 !important;
    font-size: 30px !important;
    width: 100% !important;
    display: inline-block !important;
    border-radius: 99px !important;
    background: rgba(255, 255, 255, 0.5) !important
    }
.aioTxt {
    color: #ffb400 !important
    }
.aio-subtext {
    color: #FFF !important;
    text-shadow: 2px 2px 5px #000 !important;
    font-size: 21px !important;
    background-color: rgba(255, 255, 255, 0.35);
    width: 100% !important;
    border-radius: 15px !important
    }
.aio-section-header, .aio-subtext {
    backdrop-filter: blur(3px) saturate(180%);
    -webkit-backdrop-filter: blur(3px) saturate(180%) !important
    }
#aio_sidebar a {
    color: #ffb400 !important;
    text-shadow: 0 0 6px #000 !important
    }
#aio_sidebar a:hover {
    color: #c78fff !important
    }
#aio_sidebar .aioImg {
    display: flex !important;
    flex-wrap: wrap !important;
    gap: 3px !important;
    align-items: center !important;
    justify-content: center !important;
    margin-top: 8px !important
    }
#aio_sidebar .aioImg img {
    border-radius: 99px !important;
    border: 2px solid #fbd1a5 !important
    }
#aio_sidebar .aioImg img:hover {
    border-radius: 99px !important;
    border: 2px solid #008c87 !important
    }
#aio_sidebar > .quests > .aioImg > div {
    width: 100% !important;
    margin-bottom: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    overflow: hidden !important;
    gap: 3px
    }
.aio-training-links {
    display: block !important
    }
.aioImg img {
    background-color: #fff !important
    }
.aio-training-links {
    font-size: 24px Rancho !important
    }
.aioTxt {
    display: flex !important;
    flex-direction: column !important
    }
/* End Twiggies AIO */
#aio_sidebar {
    display: revert !important
    }
