#userLookupContent:has(> #userLookupPets  div:is(.ul--petsheader,.Sharpeye__after,.Degg__after):hover) > #userLookupDesc >  #lookupTooltip
{
    visibility: visible !important;
    opacity: 1;
}

#userLookupContent:has(> #userLookupPets .Degg__after:hover) > #userLookupDesc >  #lookupTooltip:after
{
    content: "Pirates description here."
}

#userLookupContent:has(> #userLookupPets .Sharpeye__after:hover) > #userLookupDesc >  #lookupTooltip:after
{
    content: "The royal maraquan emissaries bla bla bla."
}
#userLookupContent:has(> #userLookupPets .ul--petsheader:hover) > #userLookupDesc >  #lookupTooltip:after
{
    content: "Residesnts of the Rainbow Tides Isle."
}
